<nav class="navbar navbar-light navbar-expand-sm bg-white shadow-sm">
  <div class="container-fluid">
    <span class="navbar-brand">Drugstore</span>
    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link">Registrar</a>
      <a href="#" class="nav-item nav-link">Datacenter</a>
      <a href="#" class="nav-item nav-link">Bitácora</a>
      <!-- <a href="#" class="form-inline my-2 my-lg-0">Cerrar sesión</a> -->
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-warning my-2 my-sm-0" type="submit">
          Cerrar sesión
        </button>
      </form>
    </div>
  </div>
</nav>
