.action-bar {
  display: flex;
  flex-direction: column;
  flex: none;
  width: $action-bar-width;
  height: 100%;
  background: $action-bar-background;
  transition: width 200ms ease-in-out;
  overflow: hidden;

  // border-radius: 0px 20px 0px 0px;
  // -moz-border-radius: 0px 20px 0px 0px;
  // -webkit-border-radius: 0px 20px 0px 0px;
  // border: 0px solid #000000;

  
  border-right: 4px solid rgba(15,60,89,0.17);
  border-radius: 0px 20px 0px 0px;


  -webkit-box-shadow: 6px -5px 47px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px -5px 47px -18px rgba(0, 0, 0, 0.75);
  box-shadow: 6px -5px 47px -18px rgba(0, 0, 0, 0.75);

  
}

.action-bar-expanded {
  width: $action-bar-width-expanded;

  .action-bar-item-text {
    opacity: 1;
  }
}

.action-bar-item {
  display: flex;
  width: 100%;
  height: $action-bar-item-height;
  color: #fff;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
  align-items: center;
  background-color: transparent;
  padding: 0;
  border: 0;
  overflow: hidden;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.action-bar-item-icon {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  width: 56px;
  height: 56px;
}

.action-bar-item-text {
  font-size: 1.125rem;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
