.rounded-circle {
  border-radius: 50% !important;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.icon-shape {
  padding: 12px;
  text-align: center;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 50%;
}

.shawdow {
  border-radius: 20px !important;
  box-shadow: 4px 10px 20px -20px;
}
