.transform-rotate-90 {
  transform: rotate(90deg);
}

.transform-rotate-180 {
  transform: rotate(180deg);
}

.transform-rotate-270 {
  transform: rotate(270deg);
}

.transform-flip-horizontal {
  transform: scale(-1, 1);
}
.transform-flip-vertical {
  transform: scale(1, -1);
}
