$font-family-base: "Mukta Mahee";

$primary:#0575E6;
$primary-accent: #021B79;
// $primary:#3D4E81;
// $primary-accent: #6E7FF3;
// background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
$foreground-start: #e6e9f0 ;
$foreground-end: #eef1f5;


$secondary: #fff;

$border-radius: 0.3125rem;

$btn-padding-y: 0.3125rem;
$btn-padding-x: 0.9375rem;

$action-bar-width: 56px;
$action-bar-width-expanded: 220px;
// $action-bar-background: radial-gradient(circle 248px at center,  $primary 47%, $primary-accent 100%);
$action-bar-background: linear-gradient(-225deg, $primary 0%,$primary-accent 100%);

$background: linear-gradient(to top, $foreground-start 0%, $foreground-end 100%);

$action-bar-item-height: $action-bar-width;

