
  <div class="card card-stats mb-4 mb-xl-0 shawdow">
    <div class="card-body">
      <div class="row">
        <ng-content select="[header]"></ng-content>
      </div>
      <ng-content select="[indicador]"></ng-content>
    </div>
  </div>
