<div class="row">
  <div class="col">
    <h5 class="card-title text-uppercase text-muted mb-0">
      {{ title }}
    </h5>
    <span class="h2 font-weight-bold mb-0">
      {{ number }}
    </span>
  </div>
  <div class="col-auto" *ngIf="icon">
    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
      <i [class]="icon"></i>
    </div>
  </div>
</div>
