<p class="mt-3 mb-0 text-muted text-sm">
  <span *ngIf="data" class="text-success mr-2">
    <i *ngIf="icon" [class]="icon"> </i> {{ data }}
  </span>
  <span *ngIf="text" class="text-nowrap">
    {{ text }}
  </span>
</p>
