<div class="app-container app-background">
  <ds-sidebar> </ds-sidebar>
  <div class="main-container flex-fill">
    <div class="contenido">
      <router-outlet></router-outlet>
    </div>
  </div>
  <ds-topbar style="position: fixed; right: 0px;"></ds-topbar>
</div>
