<div class="mt-5">
  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <ds-card class="col-xl-3 col-lg-6" *ngFor="let item of data">
            <ds-data
              header
              [title]="item.title"
              [number]="item.number"
              [icon]="item.icon"
            >
            </ds-data>
            <ds-indicador
              indicador
              [icon]="item.indicador.icon"
              [text]="item.indicador.text"
              [data]="item.indicador.data"
            ></ds-indicador>
          </ds-card>
        </div>
      </div>
    </div>
  </div>
</div>
