<div class="action-bar" [class.action-bar-expanded]="expanded">
  <ds-sidebar-item [shadow]="true" (click)="expanded = !expanded">
    <span class="action-bar-item-icon fas fa-bars"> </span>
    <span class="action-bar-item-text">Menu</span>
  </ds-sidebar-item>

  <ds-sidebar-item
    [shadow]="true"
    (click)="expanded = !expanded"
    *ngFor="let item of routesEstado.menu$ | async"
  >
    <!-- <span [class]="action-bar-item-icon" [ngClass]="getIcon(item)"> </span> -->
    <span [class]="getIcon(item)"> </span>
    <span class="action-bar-item-text">{{ item.view }}</span>
  </ds-sidebar-item>
  <ng-content></ng-content>
</div>
