:host {
  position: relative;
  border-right: 1px solid gray;
  display: flex;
}

:host.is-dragging {
  user-select: none;
}

.content {
  overflow: hidden;
  flex: 1 1;
  min-height: 0;
  display: flex;
}

.content ::ng-deep > * {
  flex: 1 1;
  min-height: 0;
}

.handle {
  position: absolute;
  right: -9px;
  width: 17px;
  height: 100%;
  top: 0;
  padding: 0 7px;
  z-index: 10;
  cursor: col-resize;
}

.handle::before {
  content: "";
  display: block;
  transition: background-color 0.3s ease;
  height: 100%;
}

:host.is-dragging .handle::before,
.handle:hover::before {
  background-color: cornflowerblue;
}

:host-context(th) {
  display: block;
  margin: 0 -8px;
}

:host-context(th) .content {
  display: block;
  text-align: center;
}
